* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
/*background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
  */
/*background: linear-gradient(45deg, rgba(108,0,153,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(255,184,115,0.65) 100%);
*/background:#3587A4;
  /*background-color: rgb(20,100,1);
	*/align-items: center;
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

div.container {
	align-items: center;
	align-self: center;
	background-blend-mode: lighten;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	min-height: 800px;
	justify-content: center;
	width: 800px;

}
.chotta {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 0px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}
.vchotta {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 0px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}

h1 {
  color: #fff;
  /*font-family: 'Playfair Display', serif;
  */font-family: 'Covered By Your Grace', sans-serif;
  font-size: 58px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}

a.btn {
	background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
	border-radius: 2px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
}


h5,h6{
	color: #fff;

}

a.btn:hover {
	/*box-shadow: 0px 4px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	*/transition: box-shadow 100s ease;-
  background-color: rgb(236,122,23);
}
p{
	font-family: 'Covered By Your Grace', sans-serif;
}
.welcome
{
background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);

box-shadow: 0px 2px 4px rgba(34,62,66,.5);
  box-sizing: border-box;
  background-color: rgb(236,122,23);
  text-align: center;
  overflow: auto;
  padding: 5px 10px;
  position :fixed;
  top: 0;
  left:0;
  width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight:100;
  z-index: 996;
  border-radius: 80; 
font-size: 18px;
  letter-spacing: 1px;

  text-transform: uppercase;
  }
  .credits
{
background: linear-gradient(45deg, rgba(108,0,153,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(255,184,115,0.65) 100%);
/*background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);*/
box-shadow: 0px 2px 4px rgba(34,62,66,.5);
  box-sizing: border-box;
  background-color: rgb(236,122,23);
  text-align: center;
  overflow: auto;
  padding: 5px 50px;
  position :fixed;
  bottom: 0;
  left:0;
  width: 100%;
  color: white;
font-size: 10px;
  letter-spacing: 1px;

  font-family: 'Lato', sans-serif;
  font-weight:100;
  z-index: 996;
  border-radius: 80; 
  text-transform: uppercase;
  }
  